{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block html_attribs %}
  lang="en"
{% endblock %}

{% block styles %}
  {{ super() }}
  {% include "base_styles.html" ignore missing %}
{% endblock %}

{% block body %}
  {% block navbar %}
    {% include "base_navbar.html" ignore missing %}
  {% endblock %}

  {{super()}}

  {% block footer %}
    {% include "base_footer.html" ignore missing %}
  {% endblock %}
{% endblock %}

{% block scripts %}
  {{super()}}
  {% include "base_scripts.html" ignore missing %}
{% endblock %}
