<!DOCTYPE html>
<html lang="en">
<head>
<title> Mateusz Ploskon at RNC </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="http://portal.nersc.gov/project/alice/ploskon/resources/mp/css/docs.min.css" rel="stylesheet">
<link href="http://portal.nersc.gov/project/alice/ploskon/resources/mp/css/bg.css" rel="stylesheet">
<link href="http://portal.nersc.gov/project/alice/ploskon/resources/mp/css/_navbar.css" rel="stylesheet">
</head>
<body>

#navbar

<div class="container">
<div class="row clearfix">
<div class="col-md-12 column">
<div class="jumbotron" id="jumbo">
  
  <h1>
  Welcome!
  </h1>
  <h3>
  This page (in preparation) serves as a tool but it is not excluded
  you will find something interesting here...
  </h3>
  
</div>

#sections

</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/project/alice/ploskon/resources/mp/js/getClientTime.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
window.twttr = (function (d,s,id) {
var t, js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>

<!-- Footer================================================== -->
<!-- <footer class="bs-docs-footer" role="contentinfo" id="about" id="contact" style="background:#f5faed"> -->
<!-- <footer class="bs-docs-footer" role="contentinfo" id="about" id="contact" style="background:transparent"> -->
<!-- <footer class="well" role="contentinfo" id="foot"> -->
<footer class="bs-docs-footer" role="contentinfo" id="foot">
<div class="container">
<p> E-mail: mploskon @ lbl.gov </p>
  <ul class="bs-docs-footer-links text-muted">
    <li>Few good links:</li>
    <li>&middot;</li>
    <li><a href="https://github.com">GitHub</a></li>
    <li>&middot;</li>
    <li><a href="https://github.com/twbs/bootstrap">BStrap on GitHub</a></li>
    <li>&middot;</li>
    <li><a href="https://github.com/twbs/bootstrap/tree/master/docs/examples">Examples</a></li>
  </ul>
   <div>
    <span class="label label-default" id="clientTime">not loaded</span>
   </div>
  </div>
</footer>


</body>
</html>
