<!-- Static navbar -->
<nav class="navbar navbar-fixed-top navbar-inverse" id="nav-navbar">
<div class="container-fluid">
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand"
  href="http://portal.nersc.gov/project/alice/ploskon">Home</a>
  <a class="navbar-brand" href="http://rnc.lbl.gov" target="_blank">RNC</a>	    
  <a class="navbar-brand pull-right" href="#">Go2Top</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Links<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      #links
    </ul>
  </li>
</ul>
</div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
