<div class="wrapper">
  <img src="img/IMG_2376_lowq.jpg" class="img-responsive" alt="Responsive image">
</div>


   {% block footer %}

<!-- Footer ================================================== -->
<footer class="footer" role="contentinfo">
<div class="container">
  <p id="about"> About: A utility page. Nothing more. </p>
  <p id="contact"> Contact: use email. </p>
  <ul class="bs-docs-footer-links text-muted">
    <li>Useful links: </li>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://ploskon.com/geo">Geo</a></li>
  </ul>
</div>
</footer>
{% endblock %} <!-- end footer -->

   <footer class="footer">
   <div class="container">
     <p class="text-muted">
     <p id="about"> About: A utility page. Nothing more. </p>
     <p id="contact"> Contact: use email. </p>
     <ul class="text-muted">
       <li>Useful links: </li>
       <li><a href="https://github.com">GitHub</a></li>
       <li><a href="http://ploskon.com/geo">Geo</a></li>
     </ul>     
     </p>
   </div>
   </footer>

<link href="{{bootstrap_find_resource('css/bootstrap-theme.css', cdn='bootstrap')}}" rel="stylesheet" media="screen">


<link href="/static/css/sticky-footer.css" rel="stylesheet">

              <li class="active"><a href="#">Top</a></li>   
