{% block footer %}
<!-- Footer================================================== -->
<!-- <footer class="bs-docs-footer" role="contentinfo" id="about" id="contact" style="background:#f5faed"> -->
<!-- <footer class="bs-docs-footer" role="contentinfo" id="about" id="contact" style="background:transparent"> -->
<footer class="bs-docs-footer well-sm" role="contentinfo" id="foot">
   <div class="container">
    <p >Made with all the love of course... to bootstrap, flask and
     flask-boostrap... using Highcharts for plotting.</p>
    <ul class="bs-docs-footer-links text-muted">
      <li>Few good links:</li>
      <li>&middot;</li>
      <li><a href="https://github.com">GitHub</a></li>
      <li>&middot;</li>
      <li><a href="https://github.com/twbs/bootstrap">BStrap on GitHub</a></li>
      <li>&middot;</li>
      <li><a href="https://github.com/twbs/bootstrap/tree/master/docs/examples">Examples</a></li>
    </ul>
    <div>
    <span class="label label-default" id="serverTime">not loaded</span>
    <span class="label label-default" id="clientTime">not loaded</span>
    </div>
  </div>
  </footer>
{% endblock %}
